<div class="min-h-screen bg-cyan-50">
    <app-navbar></app-navbar>
    <label class="flex justify-center p-5 mt-10 mb-8 text-xl font-extrabold">Tambah Item</label
    >
  
    <form [formGroup]="formGroup" (ngSubmit)="onSubmitForm()">
      <div
        class="max-w-[28rem] p-8 mx-auto mt-10 mb-10 bg-white rounded-2xl shadow-xl"
      >
        <div class="flex flex-col">
          <label class="text-base font-bold">Name Item:</label>
          <input
            type="text"
            formControlName="itemName"
            class="p-1 my-2 border rounded-md"
          />
          <div
            class="text-sm text-red-500"
            *ngIf="
              formGroup.get('itemName')?.invalid &&
              (formGroup.get('itemName')?.dirty ||
                formGroup.get('itemName')?.touched)
            "
          >
            <div *ngIf="formGroup.get('itemName')?.errors?.['required']">
              Nama item wajib diisi
            </div>
            <div *ngIf="formGroup.get('itemName')?.errors?.['minlength']">
              Nama item minimal 3 karakter
            </div>
            <div *ngIf="formGroup.get('itemName')?.errors?.['maxlength']">
              Nama item maksimal 32 karakter
            </div>
            <div *ngIf="formGroup.get('itemName')?.errors?.['pattern']">
              Hanya boleh mengandung huruf
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <label class="text-base font-bold">Stock:</label>
          <input class="p-1 my-2 border rounded-md" formControlName="stock" />
          <div
            class="text-sm text-red-500"
            *ngIf="
              formGroup.get('stock')?.invalid &&
              (formGroup.get('stock')?.dirty || formGroup.get('stock')?.touched)
            "
          >
            <div *ngIf="formGroup.get('stock')?.errors?.['required']">
              Stock wajib diisi
            </div>
            <div *ngIf="formGroup.get('stock')?.errors?.['pattern']">
              Tidak boleh mengandung simbol dan huruf
            </div>
            <div *ngIf="formGroup.get('stock')?.errors?.['minlength']">
              Stock minimal 1 karakter
            </div>
            <div *ngIf="formGroup.get('stock')?.errors?.['maxlength']">
              Stock maksimal 32 karakter
            </div>
          </div>
        </div>
  
        <div class="flex flex-col">
          <label class="text-base font-bold">Price:</label>
          <input class="p-1 my-2 border rounded-md" formControlName="price" />
          <div
            class="text-sm text-red-500"
            *ngIf="
              formGroup.get('price')?.invalid &&
              (formGroup.get('price')?.dirty || formGroup.get('price')?.touched)
            "
          >
            <div *ngIf="formGroup.get('price')?.errors?.['required']">
              Price wajib diisi
            </div>
            <div *ngIf="formGroup.get('price')?.errors?.['pattern']">
              Tidak boleh mengandung simbol dan huruf
            </div>
            <div *ngIf="formGroup.get('price')?.errors?.['minlength']">
              Price minimal 4 karakter
            </div>
            <div *ngIf="formGroup.get('price')?.errors?.['maxlength']">
              Price maksimal 32 karakter
            </div>
          </div>
        </div>
        <div class="flex justify-end mt-4">
          <button
            class="p-2 px-4 mr-2 text-white rounded-md bg-orange-600 hover:bg-orange-500"
            (click)="goToPagesItem()"
          >
            Back
          </button>
          <button
            class="p-2 px-4 text-white rounded-md bg-orange-600 hover:bg-orange-500"
            type="submit"
          >
            Add
          </button>
        </div>
      </div>
    </form>
  </div>